@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

a {
    color: white !important;
    text-decoration: none;
}

body {
    display: flex;
    background: #12253B;
}

.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    /* background: white; */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1080px;
    height: 50px;
    margin-top: 35px;
    margin-left: 60px;
    margin-bottom: 218px;

    background: #12253B;
}

.logo-cover {
    width: 201px;
    height: 50px;
    margin-right: 84px;
    /* background: rgb(34, 61, 88, 0.2); */
}

/* .logo-cover:hover {
    background: none;
} */

.logo {
    width: 201px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Actor;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: #E7B894;
    /* background: url(/images/Logo.svg) no-repeat center / cover; */
}

.menu-bottom {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 180px;
    height: 40px;
    margin-right: 25px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 200px;
    cursor: pointer;

    font-family: Actor;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: white;
}

.menu-bottom:last-child {
    margin-right: 0;
}

.menu-bottom:hover {
    color: #E7B894;
    border: 1px solid #E7B894;
}

.materials {
    display: flex;

    width: 1080px;
    height: 1851px;
    margin-left: 60px;
    margin-bottom: 156px;
    /* background: white; */
}

.block-left {
    width: 472px;
    height: 1851px;
    margin-right: 136px;
}

.block-right {
    width: 472px;
    height: 1851px;
}

.block-left h2 {
    width: 407px;
    height: 124px;
    margin-bottom: 17px;

    font-family: Cabin;
    font-style: normal;
    font-weight: normal;

    color: #BBA390;
    font-size: 46px;
    line-height: 62px;
}

.block-left p {
    width: 454px;
    height: 64px;
    margin-bottom: 17px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;

    color: #8CAAC8;
    font-size: 18px;
    line-height: 32px;
}

.block-left p:nth-child(3) {
    margin-bottom: 75px;
}

.cables {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 130px;
    height: 50px;
    margin-bottom: 15px;
}

.cables h3 {
    width: 89px;
    height: 50px;
    margin-right: 11px;

    font-family: Actor;
    font-style: normal;
    font-weight: normal;

    cursor: pointer;
    color: white;
    font-size: 24px;
    line-height: 50px;
}

.arrow {
    width: 30px;
    height: 9px;

    cursor: pointer;
    background: url(/images/arrow.svg) no-repeat center / cover;
}

.card-left {
    width: 472px;
    height: 640px;
    margin-bottom: 80px;

    background: cornsilk;
}

.porcelain {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 305px;
    height: 50px;
    margin-bottom: 15px;
}

.porcelain h3 {
    width: 292px;
    height: 50px;

    margin-right: 11px;

    font-family: Actor;
    font-style: normal;
    font-weight: normal;

    cursor: pointer;
    color: white;
    font-size: 24px;
    line-height: 50px;
}

.glass {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 252px;
    height: 50px;
    margin-bottom: 80px;
}

.glass h3 {
    width: 244px;
    height: 50px;
    margin-right: 11px;

    font-family: Actor;
    font-style: normal;
    font-weight: normal;

    cursor: pointer;
    color: white;
    font-size: 24px;
    line-height: 50px;
}

.card-right {
    width: 472px;
    height: 640px;
    margin-bottom: 15px;

    background: cornsilk;
}

.massiv {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 216px;
    height: 50px;
    /* margin-bottom: 80px; */
}

.massiv h3 {
    width: 195px;
    height: 50px;
    margin-right: 11px;

    font-family: Actor;
    font-style: normal;
    font-weight: normal;

    cursor: pointer;
    color: white;
    font-size: 24px;
    line-height: 50px;
}

.offer {
    width: 1080px;
    margin: 0 auto;
    margin-bottom: 155px;
}

.offer h2 {
    width: 571px;
    height: 108px;
    margin: 0 auto;
    margin-bottom: 19px;

    font-family: Actor;
    font-style: normal;
    font-weight: normal;

    color: #BBA390;
    font-size: 46px;
    line-height: 54px;
    text-align: center;
}

.offer p {
    width: 278px;
    height: 28px;
    margin: 0 auto;
    margin-bottom: 69px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    
    color: #5B82A9;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1080px;
    height: 178px;
    margin-bottom: 100px;
}

.one {
    width: 200px;
    height: 178px;
    margin-right: 94px;
}

.two {
    width: 200px;
    height: 178px;
    margin-right: 92px;
}

.three {
    width: 200px;
    height: 178px;
    margin-right: 94px;
}

.four {
    width: 200px;
    height: 178px;
}

.list p {
    width: 200px;
    height: 84px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;

    color: #8CAAC8;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.one .img {
    width: 72px;
    height: 72px;
    margin: 0 auto;
    margin-bottom: 22px;

    background: url(/images/offer-one.svg) no-repeat center / cover;
}

.two .img {
    width: 43px;
    height: 72px;
    margin: 0 auto;
    margin-bottom: 22px;

    background: url(/images/offer-two.svg) no-repeat center / cover;
}

.three .img {
    width: 53px;
    height: 71px;
    margin: 0 auto;
    margin-bottom: 22px;

    background: url(/images/offer-three.svg) no-repeat center / cover;
}

.four .img {
    width: 41px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 22px;

    background: url(/images/offer-four.svg) no-repeat center / cover;
}

.send {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 566px;
    height: 59px;
    margin: 0 auto;
}

input:focus {
    outline: none;
   }

.send input {
    width: 295px;
    height: 59px;
    font-size: 20px;
    padding-left: 20px;

    color:white;
    background: #12253B;

    border: 1px solid #385980;
    box-sizing: border-box;
}

.send-phone {
    width: 231px;
    height: 59px;
    margin-left: 40px;

    cursor: pointer;
    background: #2B8CFC;
}

.send-phone p {
    width: 151px;
    height: 30px;
    margin: 0 0 0 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;

    color: #FFFFFF;
    font-size: 20px;
    line-height: 30px;
}

.provide {
    display: flex;
    flex-direction: column;

    width: 1200px;
    height: 671px;

    /* background: url(/images/provideThree.png); */
}

.provide h2 {
    width: 296px;
    height: 54px;
    margin: 0 auto;
    margin-top: 76px;
    margin-bottom: 50px;

    font-family: Actor;
    font-style: normal;
    font-weight: normal;

    color: #BBA390;
    text-align: center;
    font-size: 46px;
    line-height: 54px;
}

.provide-block {
    display: flex;

    width: 1080px;
    height: 184px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.provide-one {
    width: 347px;
    height: 184px;
    margin-right: 19.5px;
}

.provide-two {
    width: 347px;
    height: 184px;
    margin-right: 19.5px;
}

.provide-three {
    width: 347px;
    height: 184px;
}

.shadow {
    position: relative;

    background: #051627;
    box-shadow: 12px 22px 32px rgba(18, 37, 59, 0.15);
    border-radius: 20px;
}

.provide p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;

    font-size: 18px;
    line-height: 24px;
    color: #8CAAC8;

}

.provide-one p {
    width: 70px;
    height: 72px;
    margin: 18px 0 0 40px;
}

.provide-two p {
    width: 98px;
    height: 48px;
    margin: 18px 0 0 40px;
}

.provide-three p {
    width: 70px;
    height: 48px;
    margin: 18px 0 0 40px;
}

.shadow-block {
    width: 113px;
    height: 100px;
    margin: 18px 0 0 234px;

    background: url(/images/shadow.svg);
    opacity: 0.5;
}

.provide-one .shadow-block {
    margin: -6px 0 0 234px;
}

.provide-one .icon {
    position: absolute;

    width: 97px;
    height: 116px;
    top: 43px;
    left: 210px;

    background: url(/images/icon-one.svg);
}

.provide-two .icon {
    position: absolute;

    width: 106px;
    height: 97px;
    top: 56px;
    left: 208px;

    background: url(/images/icon-two.svg);
}

.provide-three .icon {
    position: absolute;

    width: 124px;
    height: 90px;
    top: 60px;
    left: 193px;

    background: url(/images/icon-three.svg);
}

.apply {
    display: flex;
    align-items: center;

    width: 256px;
    height: 30px;
    margin: 0 auto;
}

.apply p {
    width: 182px;
    height: 30px;
    margin-right: 8px; 

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;

    cursor: pointer;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.block-arrow {
    width: 66px;
    height: 14px;

    cursor: pointer;
    background: url(/images/arrowTwo.svg) no-repeat center / cover;
}

.partners {
    display: flex;

    width: 865px;
    height: 342px;
    margin: 0 auto;
    margin-bottom: 194px;
}

.buy {
    width: 243px;
    height: 271px;
    margin-top: 41px;
    margin-right: 229px;
}

.buy h2 {
    width: 243px;
    height: 96px;
    margin-bottom: 11.5px;

    font-family: Actor;
    font-style: normal;
    font-weight: normal;

    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}

.buy p {
    width: 195px;
    height: 28px;
    margin-bottom: 77px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;

    font-size: 16px;
    line-height: 28px;
    color: #8CAAC8;
}

.buy-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 215px;
    height: 59px;

    background: #2B8CFC;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;

    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.shops {
    width: 393px;
    height: 340px;
}

.shops-one {
    display: flex;

    width: 393px;
    height: 220px;
}

.shops-two {
    display: flex;

    width: 246px;
    margin-left: 147px;
}

.winlee {
    width: 220px;
    height: 220px;

    background: #122E4A;
    box-shadow: 12px 22px 42px rgba(4, 20, 37, 0.25);
    border-radius: 30px 0px;
}

.decoo {
    width: 160px;
    height: 160px;
    margin-left: 13px;
    margin-top: 60px;

    background: #122E4A;
    box-shadow: 12px 22px 42px rgba(4, 20, 37, 0.25);
    border-radius: 30px 0px;
}

.winlee-logo {
    width: 150px;
    height: 40px;
    margin: 72px 0 0 35px;

    background: url(/images/winlee-logo.svg);
}

.winlee p {
    width: 150px;
    height: 20px;
    margin: 14px 0 0 35px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;

    font-size: 14px;
    line-height: 20px;
    color: #6485A7;
}

.decoo-logo {
    width: 110px;
    height: 31px;
    margin: 45px 0 0 25px;

    background: url(/images/decoo-logo.svg);
}

.decoo p {
    width: 110px;
    height: 14px;
    margin: 10px 0 0 25px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;

    font-size: 10px;
    line-height: 14px;
    color: #6485A7;
}

.box {
    width: 74px;
    height: 74px;

    background: #122E4A;
    box-shadow: 12px 22px 42px rgba(4, 20, 37, 0.25);
}

.box:nth-child(1) {
    margin: 14px 12px 0 0;

}

.box:nth-child(2) {
    margin: 30px 12px 0 0;
}

.box:nth-child(3) {
    margin: 46px 0 0 0;
}

footer {
    display: flex;

    width: 1200px;
    height: 422px;
}

.foot-one {
    width: 466px;
    height: 422px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;

    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

    background: linear-gradient(to right, #12253B, #18304D);
}

.foot-one p {
    margin-bottom: 20px;
    text-decoration: underline white;
}

.foot-one p:nth-child(1) {
    margin-top: 70px;
}

.foot-two {
    width: 307px;
    height: 422px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;

    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

    background: #18304D;
}

.foot-two p {
    margin-bottom: 20px;
    text-decoration: underline white;
}

.foot-two p:nth-child(1) {
    margin-top: 70px;
}

.foot-two p:nth-child(4) {
    margin-top: 40px;
}

.foot-three {
    width: 427px;
    height: 422px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;

    text-align: center;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;

    background: linear-gradient(to left, #12253B, #18304D);
}

.foot-three p {
    margin-top: 70px;
}